@page
@model RazorPageKurs.Pages.Modul003.DetailsModel
@{
}

<!-- Darstellung eines Datensatzes -->
<div>
    <!-- Überschrift-->
    <h4>Movie</h4>
    <hr />


    <dl class="row">
        <!-- Label -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <!-- Variablenausgabe -->
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.IMDBRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.IMDBRating)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
    </dl>
</div>

<a asp-page="./Index">Back to Index</a>
